@model apiComingData
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Detay";
}

<style>
    .card-text-wrapper {
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        padding: 10px 0;
    }

        .card-text-wrapper:nth-child(even) {
            background-color: #f8f9fa;
        }

    .card-text {
        color: #333;
        font-size: 1.1em; /* Yazı boyutunu arttırdım */
        font-family: Montserrat, sans-serif;
        font-weight: 600; /* Yazıyı kalınlaştırdım */
    }

    .card-text-title {
        color: #000;
        font-size: 1.2em; /* Başlık yazı boyutunu biraz daha büyüttüm */
        font-family: Montserrat, sans-serif;
        font-weight: 700; /* Başlık yazıyı daha da kalınlaştırdım */
        margin-bottom: 5px; /* Başlık altına biraz boşluk ekledim */
    }

    .detail-title {
        text-align: center;
        border: 1px solid #ffc107;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 2.5em; /* Başlık boyutunu arttırdım */
        font-weight: 700; /* Başlık yazısını kalınlaştırdım */
    }

    .card.mb-4 {
        border: 1px solid #ffc107;
        border-radius: 5px;
    }
</style>

<div class="container" style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="detail-title">@Model.title</h1>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-text-wrapper">
                        <p class="card-text-title">Keywords:</p>
                        <p class="card-text">@string.Join(", ", @Model.keywords)</p>
                    </div>
                    <div class="card-text-wrapper">
                        <p class="card-text-title">Id:</p>
                        <p class="card-text">@Model.name</p>
                    </div>
                    if(@Model.abstractText != null){
                    <div class="card-text-wrapper">
                        <p class="card-text-title">Abstract:</p>
                        <p class="card-text">@Model.abstractText</p>
                    </div>
                    }
                    <div class="card-text-wrapper">
                        <p class="card-text-title">Fulltext:</p>
                        <p class="card-text">@Model.fulltext</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
